<section id="header">
  <a routerLink="/"><img src="assets/images/logo.jpg" class="logo" alt="Logo" /></a>

  <div>
    <ul id="navbar">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/shop" class="active">Shop</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/cart"><i class="fas fa-cart-arrow-down"></i></a></li>
    </ul>
  </div>
</section>

<section id="search-bar">
  <h1>Shop Our Products</h1>
  <input type="text" id="search-input" placeholder="Search by name, author..." (input)="updateProductsDisplay()" />
  <select id="filter-criteria" (change)="updateProductsDisplay()">
    <option value="all">All</option>
    <option value="name">Name</option>
    <option value="author">Author</option>
  </select>
</section>

<section class="shop">
  <div class="controls">
    <label for="filter-genre">Filter by Genre:</label>
    <select id="filter-genre" (change)="updateProductsDisplay()">
        <option value="all">All Genres</option>
        <option value="action">Action</option>
        <option value="adventure">Adventure</option>
        <option value="avant garde">Avant Garde</option>
        <option value="award winning">Award Winning</option>
        <option value="comedy">Comedy</option>
        <option value="drama">Drama</option>
        <option value="fantasy">Fantasy</option>
        <option value="gourmet">Gourmet</option>
        <option value="horror">Horror</option>
        <option value="mystery">Mystery</option>
        <option value="romance">Romance</option>
        <option value="sci-fi">Sci-Fi</option>
        <option value="slice of life">Slice of Life</option>
        <option value="sports">Sports</option>
        <option value="supernatural">Supernatural</option>
        <option value="suspense">Suspense</option>
    </select>

    <label for="filter-category">Filter by Category:</label>
    <select id="filter-category" (change)="updateProductsDisplay()">
        <option value="all">All Categories</option>
        <option value="seinen">Seinen</option>
        <option value="shounen">Shounen</option>
        <option value="shoujo">Shoujo</option>
        <option value="josei">Josei</option>
        <option value="kids">Kids</option>
    </select>

    <label for="filter-type">Filter by Type:</label>
    <select id="filter-type" (change)="updateProductsDisplay()">
        <option value="all">All Types</option>
        <option value="manga">Manga</option>
        <option value="manhwa">Manhwa</option>
        <option value="novel">Novel</option>
        <option value="light_novel">Light Novel</option>
        <option value="one_shot">One shot</option>
    </select>
  </div>

  <div class="controls">
    <label for="sort-by">Sort By:</label>
    <select id="sort-by" (change)="updateProductsDisplay()">
      <option value="default">Default</option>
      <option value="name">Alphabetical</option>
      <option value="price-asc">Price: Low to High</option>
      <option value="price-desc">Price: High to Low</option>
      <option value="score">Score</option>
    </select>
  </div>

  <div class="product-list">
  </div>
</section>

<footer>
  <p>&copy; 2024 E-Ragana All rights reserved.</p>
</footer>
